.small-calendar {
  width: calc(100% - 2rem);
  margin: 3rem 1rem 0;
}

.small-calendar__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 0.25rem;
}

.small-calendar__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
}

.small-calendar__day {
  color: rgb(73, 73, 73);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.625rem;
}

.small-calendar__day-button {
  background-color: transparent;
  cursor: pointer;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: auto;
  font-size: 0.625rem;
  font-weight: 500;
}

.small-calendar__day-button:hover {
  background-color: #dedede;;
}

.small-calendar__day-button--current {
  background-color: rgb(26,115,232);
  color: #fff;
}
.small-calendar__day-button--selected {
  color: rgb(24,90,188);
  background-color: rgb(210,227,252);
}

.small-calendar__day-button--other {
  color: #696969;
}