.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.day:hover {
  background-color: #e8e8e8;
}

.day--current {
  background-color: #2196f3;
  color: white;
}