.event-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.event-modal__form {
  position: relative;
  background-color: white;
  border-radius: 5px;
  padding: 3rem 2rem 2rem;
  box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-modal__delete {
  position: absolute;
  top: 1rem;
  right: 3rem;
  background: transparent;
  color: rgb(145, 145, 145);
  border: none;
  cursor: pointer;
}

.event-modal__close {
  position: absolute;
  top: 1rem;
  right: 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.event-modal__edit {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.event-modal__edit:hover {
  color: rgb(0, 255, 47);
}

.event-modal__close:hover,
.event-modal__delete:hover {
  color: red;
}

.event-modal__elements {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 auto 0 10%;
}

.event-modal__element {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  gap: 1rem;
}

.event-modal__input {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 0.5rem;
  flex: 1;
}

.event-modal__label {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
}

.event-modal__span {
  border-radius: 0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-start;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8e8e8;
}

.event-modal__save {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  align-self: flex-end;
}

.event-modal__save:hover {
  background-color: #0d8bf2;
}