.small-calendar {
  width: 100%;
}

.small-calendar__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.small-calendar__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.25rem;
  transition: all 0.5s;
}

.small-calendar__button:hover {
  background-color: rgba(236, 236, 236, 0.6);
}

.small-calendar__body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.small-calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(73, 73, 73);
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.75rem;
}

.small-calendar__day-button {
  background-color: transparent;
  cursor: pointer;
  color: #000;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  margin: 0.125rem 0.25rem;
}

.small-calendar__day-button:hover {
  background-color: #dedede;;
}

.small-calendar__day-button--current {
  background-color: rgb(26,115,232);
  color: #fff;
}
.small-calendar__day-button--selected {
  color: rgb(24,90,188);
  background-color: rgb(210,227,252);
}