.day {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 0.125rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid #e8e8e8;
}

.day__date {
  padding: 0.25rem;
  border-radius: 50%;
  font-weight: bold;
}

.day__date:hover {
  background-color: #e8e8e8;
}

.day__event {
  display: block;
  width: 100%;
  text-align: center;
  color:azure;
  font-size: 0.75rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  opacity: 0.7;
}

.day--current {
  background-color: #2196f3;
  color: white;
}
.day--current:hover {
  background-color: #1f527c;
  color: white;
}

.day--selected {
  background-color: #8dc2e6;
  color: rgb(56, 103, 169);
}
.day--selected:hover {
  background-color: #3b1c66;
  color: white;
}

.weekday {
  text-align: center;
  border: 1px solid #e8e8e8;
}